@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
  }


/* Styling of Navbar */
.navbar {
  list-style: none;
  z-index: 100;
  font-family: 'Josefin Sans', sans-serif;
  background: rgba(0, 130, 230, 0.6);
  height: 80px;
  width: 98%;
  position: fixed;
  top: 3%;
  left: 1%;
  transform: translate(-50%, -50%);
  animation: moveAnimation 2s ease-in-out infinite alternate;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: bold;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navbar ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active, a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 1300px) {
  label.logo {
    font-size: 25px;
    padding-left: 25px;
  }
  .navbar ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1225px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@keyframes moveAnimation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* End styling of navbar */


    /* View Port Style  */

    .Viewcontainer {
        margin: 1.2rem 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .icon {
        transition: all 0.3s ease;
      }
      
      .icon:hover {
        transform: scale(1.2);
      }
      
      .icon:hover ~ .icon {
        transform: scale(0.8);
      }     
    
    /* ENDS----------->>>>>>> */
    
    


/* Tabs Section Style  */
  main {
    flex: 1;
    flex-wrap: wrap;
  }

  .github-link {
    display: flex;
    align-items: center;
  }
  
  .github-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .github-link a:hover {
    color: #0366d6;
  }
  
  .github-link i {
    margin-right: 0.5rem;
  }


  #how-to-use p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333;
  }
  
   code {
    white-space: pre-wrap;
   }

  #how-to-use code {
    font-weight: 400;
    background-color: #f5f5f5;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }

/* ENDS------->>>>>>>>>>>> */


/* description Style */

.desc-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

  .description-section {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:2.4rem 2.4rem;

  }
  
  .description-section .image-container {
    max-width: 900px;
  }
  
  .description-section .image-container img {
    padding: 2rem 2rem;
    border-radius: 8px;
    animation: floatAnimation 4s ease-in-out infinite alternate;
  }
  
  .description-section .content-container {

    max-width: 600px;
    
  }
  
  .description-section .title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .description-section .description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(20px);
    }
  }

  /* ENDS--------->>>>>>>>> */


  /* Contribute Guid */
  .contribute-guide h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2xl;
    font-weight: 700;
    color: #333;
  }
  
  .contribute-guide p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
  }
  
  .contribute-guide .link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-decoration: underline;
  }

/* ENDS------->>>>>>>>>>>>> */





/* Footer Style */

footer {
  margin-top: auto;
  background-color: rgba(0, 130, 230, 0.75);
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  margin-top: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: all .3s ease;
}

.socials a i{
  font-size: 1.1rem;
  width: 40px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: transparent;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.tweet:hover {
  color: white;
  background: rgb(0, 140, 255);
}

.mail:hover {
  color: salmon;
  background: white;
}

.git:hover {
  color: black;
  background: white;
}

.in:hover {
  color: #04669A;
  background: white;
}

.youtube:hover {
  color: red;
  background: white;
}

@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* ENDS ------------->>>>>>>>> */

/* Scroll Button Style */

#scroll {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 55px;
  width: 55px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#scroll:hover {
  box-shadow: 0 0 150px 10px #0366d6;
}

#scroll-bar {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #c3ddfa;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 28px;
  color: #001a2e;
}

.pulse {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  left: -5.2px;
  top: -5.2px;
  z-index: 0;
  background-color: transparent;
  opacity: 0;
  width: 66px;
  height: 66px;
  border: 6px solid #0366d6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -webkit-animation: pulse 1s linear infinite 0.3s;
  -moz-animation: pulse 1s linear infinite 0.3s;
  border-image: initial;
}

@-webkit-keyframes pulse {
  0% {
      -webkit-transform: scale(0);
      opacity: 0;
  }

  8% {
      -webkit-transform: scale(0);
      opacity: 0;
  }

  15% {
      -webkit-transform: scale(0.1);
      opacity: 1;
  }

  30% {
      -webkit-transform: scale(0.5);
      opacity: 1;
  }

  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes pulse {
  0% {
      -webkit-transform: scale(0);
      opacity: 0;
  }

  8% {
      -webkit-transform: scale(0);
      opacity: 0;
  }

  15% {
      -webkit-transform: scale(0.1);
      opacity: 1;
  }

  30% {
      -webkit-transform: scale(0.5);
      opacity: 1;
  }

  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
  }
}

.button:hover{
  box-shadow: 5px 7px 5px 7px #616263;
}
