name: auto_close_empty_issues

on:
  issues:
    types: [opened]
    
jobs:
  check-issue-body-not-empty:
    runs-on: ubuntu-latest
    steps:
      - if: github.event.issue.body == 0
        name: Close Issue
        uses: peter-evans/close-issue@v1
        with:
          comment: |
            Issue body must contain content.
            Auto-closing this issue.